    <!-- Download Section -->
    <section id="competition" class="content-section text-center">
        <div class="competition-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>{% t competition.title %}</h2>
                    <p>{% t competition.p1 %}</p>
                    <p>{% t competition.p2 %}</p>

                    <h3>{% t competition.st1 %}</h3>
                    <p>{% t competition.sp1 %}</p>

                    <h3>{% t competition.st2 %}</h3>
                    <p>{% t competition.sp2 %}</p>

                </div>
            </div>
        </div>
    </section>
