    <!-- Intro Header -->
    <div class="intro-outer">
        <header class="intro">
            <video class="video-bg" loop muted preload playsinline autoPlay>
                <source src="/video/intro-bg.mp4" type='video/mp4' />
                <source src="/video/intro-bg.webm" type='video/webm' />
            </video>
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">{% t header.title %}</h1>
                            <p class="intro-text">{% t header.introtext %}<br>
                            <a href="#about" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
