<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery.js" | prepend: site.baseurl_root }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl_root }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl_root }}"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlBKpXi9T0pIXrRYM4Ysf1gzhRt1lIynk"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/grayscale.js" | prepend: site.baseurl_root }}"></script>


<div class="caddybook-modal">
  <i class="fa fa-times-circle-o fa-fw"></i>
  <div class="caddybook-modal-image">
    <img src="/img/caddybook/caddybook--0.jpg" alt="General Map" />
  </div>
</div>
