    <!-- Contact Section -->
    <section id="register" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{% t register.title %}</h2>
                <p>{% t register.p1 %}</p>

                <h3>{% t register.st1 %}</h3>
                <p>{% t register.sp1 %}</p>

                <h3>{% t register.st2 %}</h3>

                <table class="table">
                  <tbody>
                    <tr><th>MPO</th><th>FPO</th><th>MP40</th><th>MP50</th><th>MA1</th><th>MJ18</th></tr>
                    <tr><td>65€</td><td>45€</td><td>65€</td><td>65€</td><td>45€</td><td>15€</td></tr>
                  </tbody>
                </table>

                <h3>{% t register.st3 %}</h3>
                <p>{% t register.sp3 %}</p>

            </div>
        </div>
    </section>
